@import '../../assets/css/variables';

.items-box {
    padding: 2em 0;
}

.item-box {
    .item {
        padding: 0.5em 2em;
        border-radius: 3px;
        color: #000;
        cursor: pointer;

        .card-title {
            text-align: center;
            margin: 0;
        }

        &.active {
            background-color: $colors-primary;
            color: #fff;
        }
    }
}