@import '../../assets/css/variables.scss';

.step-box {
  width: 100%;

  .step {
    text-align: center;

    .step-circle {
      margin: 0 auto;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      background-color: $colors-primary;
      opacity: 0.2;
      color: #fff;
      font-size: 1.4em;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .step-name {
      padding-top: 0.5em;
      font-size: 1.2em;
      font-weight: 400;
    }

    &.active {
      .step-circle {
        opacity: 1;
      }
    }
  }
}