html,
body {
    padding: 0;
    margin: 0;
    font-size: $font-basic !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
    height: 100%;
}

* {
    outline: none !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
}

*[disabled=disabled],
*:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    transition: opacity $transition-time ease-in-out;

    &:hover {
        opacity: 0.6;
    }
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}


.full-width {
    width: 100%;
}

.app-container {
    .app-page {
        padding: 5em 1em 10em 1em;
    }
}

.color-white {
    color: #fff !important;
}

.footer-buttons {
    text-align: right;
    padding-top: 2em;
    position: fixed !important;
    bottom: 0;
    z-index: 2;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 2em 0;
    background: #fff;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
}